{% extends "base.html.jinja" %}
{% block content %}
    <div class="container">
        {% macro render_children(children) %}
            {% for child in children %}
                {% set child_class = child.__class__.__name__ %}
                {% if child_class == "Section" %}
                    {{section(child)}}
                {% elif child_class == "Note" %}
                    {{note(child)}}
                {% elif child_class == "Task" %}
                    {{task(child)}}                
                {% endif %}
            {% endfor %}
        {%- endmacro %}

        {% macro note(n) %}
            <p>{{n.text}}</p>
        {%- endmacro %}

        {% macro subtasks_badge(item, postfix) %}
            {% set total_subtasks = item.subtasks() | length %}
            {% set open_subtasks = item.subtasks(open=True) | length %}
            {% set closed_subtasks = item.subtasks(open=False) | length %}
            {% set no_open_subtasks = open_subtasks == 0 %}

            {% if total_subtasks > 0 %}
                <span class="badge rounded-pill {{'text-bg-success' if no_open_subtasks else 'text-bg-primary'}}">
                    {{closed_subtasks }}/{{total_subtasks}}{{postfix}}
                </span>
            {% endif %}
        {%- endmacro %}

        {% macro task(t) %}
            <div class="task task-open-{{t.is_open}}">
                <div class="task-heading">
                    <a href="edit/L{{t.line_num}}/anchor/{{t.line_num}}" class="edit">
                        <span class="open-task-box"></span>
                        {{subtasks_badge(t)}}
                        {{t.title}}
                    </a>
                </div>

                <div class="task-children">
                    {{render_children(t.children)}}
                </div>
            </div>
        {%- endmacro %}

        {% macro section(s) %}
            <h{{s.level}} id="{{s.line_num}}" class="section-heading">
                <a href="edit/L{{s.line_num}}/anchor/{{s.line_num}}" class="edit">{{s.title}}</a>
            </h{{s.level}}>
            <p>{{subtasks_badge(s, " tasks completed")}}</p>

            {{render_children(s.children)}}
        {%- endmacro %}

        {{render_children(root.children)}}
    </div>
{% endblock %}